# Copyright (C) 2022 The MiLahaina Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Xiaomi has some stuff that still isn't unified for their variants.
# Instead of making a seperate target we can put the diff in /odm and overlay it.
on post-fs-data
    mount overlay overlay /vendor/etc/acdbdata lowerdir=/odm/etc/${ro.boot.milahaina_version}/acdbdata:/vendor/etc/acdbdata
    mount overlay overlay /vendor/etc/camera lowerdir=/odm/etc/${ro.boot.milahaina_version}/camera:/vendor/etc/camera
    mount overlay overlay /vendor/etc/sensors lowerdir=/odm/etc/${ro.boot.milahaina_version}/sensors:/vendor/etc/sensors
    mount overlay overlay /vendor/etc lowerdir=/odm/etc/${ro.boot.milahaina_version}/:/vendor/etc/
    mount overlay overlay /vendor/lib/hw/ lowerdir=/odm/${ro.boot.milahaina_version}/lib/hw/:/vendor/lib/hw/
    mount overlay overlay /vendor/lib/rfsa lowerdir=/odm/${ro.boot.milahaina_version}/lib/rfsa/:/vendor/lib/rfsa/
    mount overlay overlay /vendor/lib lowerdir=/odm/${ro.boot.milahaina_version}/lib:/vendor/lib/
    mount overlay overlay /vendor/lib64/hw lowerdir=/odm/${ro.boot.milahaina_version}/lib64/hw:/vendor/lib64/hw
    mount overlay overlay /vendor/lib64/camera lowerdir=/odm/${ro.boot.milahaina_version}/lib64/camera:/vendor/lib64/camera
    mount overlay overlay /vendor/lib64/ lowerdir=/odm/${ro.boot.milahaina_version}/lib64/:/vendor/lib64/
    mount overlay overlay /vendor/firmware lowerdir=/odm/${ro.boot.milahaina_version}/firmware:/vendor/firmware

on property:ro.milahaina.dolby_vision=true
    mount overlay overlay /vendor/etc/vintf/manifest lowerdir=/odm/etc/vintf:/vendor/etc/vintf/manifest

on property:ro.milahaina.nfc=true
    mount overlay overlay /vendor/etc/permissions lowerdir=/odm/etc/permissions/sku_milahaina:/vendor/etc/permissions

